
<h2 class="page-title">Edit an Appointment Block</h2>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= link_to 'Back to Appointment Blocks', appointment_blocks_path %>
  </div>
</div>