
<div class="form-group fields">
  <%= f.label :user_id, "Coach" %>
  <%= f.select :user_id, User.where(:coach => true).map { |c| [c.name, c.id] }, {:include_blank => false}, {:class => 'form-control'} %>
  <%= f.hidden_field :_destroy %>
  <%# link_to_function "remove", "remove_fields(this)" %>
  <%= link_to("remove", "javascript:void(0);", :class => "remove_link") %>
</div>