
<h2 class="page-title">New Workshop</h2>
<h3><%= @project.company %> - <%= @project.name %></h3>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= link_to 'Back to Workshop List', project_path(@project) %>
  </div>
</div>