
<h2 class="page-title">Create a Workshop Type</h2>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12 text-right">
    <%= link_to 'Back to Workshop Types', workshop_types_path %>
  </div>
</div>