<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop_type.name %>
</p>

<%= link_to 'Back', workshop_types_path, :class => 'btn btn-native' %>
<%= link_to 'Edit', edit_workshop_type_path(@workshop_type), :class => 'btn btn-native' %>

