<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop_type.name %>
</p>

<%= link_to 'Edit', edit_workshop_type_path(@workshop_type) %> |
<%= link_to 'Back', workshop_types_path %>
