<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone_session_type.name %>
</p>

<%= link_to 'Edit', edit_phone_session_type_path(@phone_session_type) %> |
<%= link_to 'Back', phone_session_types_path %>
