<div id="app"></div>

<script>
  var app = app || {};
  app.Data = {};

  app.Data.accessCode = '<%= params['code'] %>';
  app.Data.appointment_block_id = <%= @appointment_block.id %>;
</script>

<script id="participantsTemplate" type="text/template">
  {[ if (participants === 0) { ]}
    <h1 class="text-center">Thankyou for using TranExec!</h1>
  {[ } else { ]}
    <div id="participantList" class="list-group"></div>
  {[ } ]}

  <button id="homeBtn" class="btn btn-success">Go back</button>
</script>

<script id="participantTemplate" type="text/template">
  {{ name }}
</script>

<script id="appointmentsTemplate" type="text/template">
  <button class="btn btn-success">I'm Finished</button>
</script>

<script id="appointmentGroupTemplate" type="text/template">
  <h1>{{ groupHeader }}</h1>
  <hr>
  <div class="list-group appointmentList"></div>
</script>

<script id="appointmentTemplate" type="text/template">
  {{ datetime_nice }}
</script>
