<div id="app"></div>





<script id="clientListTemplate" type="text/template">
  <div id="clientList" class="list-group"></div>
</script>

<script id="clientTemplate" type="text/template">
  {{ name }}
</script>