<div id="app"></div>





<script id="clientListTemplate" type="text/template">
  <div class="list-group">
    <a href="#" class="list-group-item">Starting item...</a>
  </div>
</script>

<script id="clientTemplate" type="text/template">
  <a href="#" class="list-group-item">Some item...</a>
</script>