<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1 class="text-center">Phone Session Booking</h1>
      <%= form_tag '/bookings', :method => :post do %>
        <%= text_field_tag 'code', nil, :class => 'form-control text-center text-uppercase', :placeholder => 'Access Code', :autofocus => true %>
        <%= button_tag 'Go!', :class => 'btn btn-success btn-block'%>
      <% end %>
    </div>
  </div>
</div>