<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <Worksheet ss:Name="Sheet1">
  <Table>
   <Row>
    <Cell><Data ss:Type="String">Business Area</Data></Cell>
    <Cell><Data ss:Type="String">Session</Data></Cell>
    <Cell><Data ss:Type="String">Group</Data></Cell>
    <Cell><Data ss:Type="String">Date</Data></Cell>
    <Cell><Data ss:Type="String">Coaches</Data></Cell>
    <Cell><Data ss:Type="String">Location</Data></Cell>
    <Cell><Data ss:Type="String"># of Attendees</Data></Cell>
    <Cell><Data ss:Type="String">Workbook Version #</Data></Cell>
    <Cell><Data ss:Type="String">Confirm Date / Coaches</Data></Cell>
    <Cell><Data ss:Type="String">Venue</Data></Cell>
    <Cell><Data ss:Type="String">Send Invite & Pre-work</Data></Cell>
    <Cell><Data ss:Type="String">Confirm Attendees & Leader</Data></Cell>
    <Cell><Data ss:Type="String">Arrange Travel / Accom</Data></Cell>
    <Cell><Data ss:Type="String">Dates for Phone Coaching</Data></Cell>
    <Cell><Data ss:Type="String">Create Name Plates</Data></Cell>
    <Cell><Data ss:Type="String">Print Workbooks</Data></Cell>
    <Cell><Data ss:Type="String">Prepare Workshop Pack</Data></Cell>
    <Cell><Data ss:Type="String">Summary Notes</Data></Cell>
    <Cell><Data ss:Type="String">Arrange / Update Phone Coaching</Data></Cell>
   </Row>
   <Row>
   </Row>
  </Table>
 </Worksheet>
</Workbook>

