/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */


.notice {
  display: hidden;
} 
.alert {
  display: hidden; !important
}

body {
  background-color: #aaa
}

.container {
  background-color: #fafafa;
  min-height: 90vh;
  border: 1px solid #c3c3c3;
}

.field_with_errors { width: 100%; }
.text-uppercase { text-transform: uppercase; }


/*********************
  Header
*********************/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-color: rgb(67,67,67);
}

.content {
  margin-top: 100px;
}



/*********************
  Nav Side-Bar
*********************/
.highlight {
  background-color: #333;
  margin: 0;
  padding: 5px 0 5px 15px;
  ---text-align: center;
}
ul.labels-info li h4 {
  color: rgb(249,125,0);
  font-size: 13px;
  --padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
.nav h4 {

}



/*********************
  Tables
*********************/
.table-actions {
  width: 220px;
}



