/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */




.notice {
  display: hidden;
}.alert {
  display: hidden; !important
}


/*********************
  Layout
*********************/

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fafafa;
    overflow: hidden;
}
header {
  padding: 10px 20px;
  border-bottom: 10px solid #333;
}
footer {
    min-height: 30px;
    background: #333;
}
.content-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.sidebar {
  width: 200px;
  background-color: #fafafa;
  border-right: 5px solid orange;
}
main {
  flex-grow: 1;
  padding: 15px;
  background-color: #fafafa;
  overflow: scroll;
}


/*********************
  Nav Side-Bar
*********************/
.highlight {
  background-color: #333;
  margin: 0;
  padding: 5px 0 5px 15px;
}

ul.labels-info {
  margin-bottom: 1em;
}
ul.labels-info li h4 {
  color: rgb(249,125,0);
  font-size: 13px;
  --padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-divider {
    ---border-bottom: 1px solid #d5d8df;
}

/*********************
  Tables
*********************/
.table-actions {
  width: 220px;
}





